[package]
name    = "aoc2021"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["lib", "dylib"]

[dependencies]
nom = "6.0"

[[bin]]
name = "day1"

[[bin]]
name = "day1_part2"

[[bin]]
name = "day2"

[[bin]]
name = "day3"

[[bin]]
name = "day4"

[[bin]]
name = "day5"

[[bin]]
name = "day6"
